.Navbar {
    background-color: #f2f2f2;
    padding: 15px;
  }
  
  .Navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .Navbar li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .Navbar a {
    color: #333;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 20px;
    justify-content: space-between;
    margin-left: 80px;
  }
  
  /* Hover Styles */
  .Navbar a:hover {
    background-color: #333;
    color: #fff;
  }
  
  /* Active Styles */
  .Navbar .active {
    background-color: #333;
    color: #fff;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .Navbar {
      text-align: center;
    }
  
    .Navbar li {
      display: block;
      margin-bottom: 10px;
    }
  }
  